/this_is_emacs_25
/tramp
/projectile-bookmarks.eld
/elpa/ace-jump-mode-20140616.115/ace-jump-mode-autoloads.el
/elpa/ace-jump-mode-20140616.115/ace-jump-mode-autoloads.el~
*.pdf
*.html
*.tex
configuration.el
*#*#
*.#*
/*.elc
/org-gcal/
/session*
/eshell/history
/backup*
/elpa/ace-window-20180607.1223/ace-window-autoloads.el
/elpa/*
/bookmarks
/projectile.cache
/*.cache*
/recentf
/network-security.data
/eshell*
/*~
/auto-save-list*
/irony/*
/url/cookies
/url/*
