[submodule "tuhdosnippets"]
	path = snippets/tuhdosnippets
	url = https://github.com/tuhdo/yasnippet-snippets
[submodule "pamparam"]
	path = pamparam
	url = https://github.com/abo-abo/pamparam
[submodule "ert-bdd"]
	path = ert-bdd
	url = https://github.com/functionreturnfunction/ert-bdd.git
[submodule "ob-ipython"]
	path = ob-ipython
	url = https://github.com/gregsexton/ob-ipython
[submodule "external/lisp/scimax"]
	path = external/lisp/scimax
	url = https://github.com/jkitchin/scimax
[submodule "external/lisp/frame-workflow"]
	path = external/lisp/frame-workflow
	url = https://github.com/akirak/frame-workflow
